<ion-content id="login-conten">
  <div class="login-bg">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="card" size="12" size-sm="6" size-md="4" size-lg="3">
          <form>
            <ion-row class="ion-margin-bottom">
              <ion-col size="12" class="ion-margin-bottom">
                <img src="assets/icon/logo-duoc.png" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-bottom">
              <ion-col size="12">
                <ion-item class="ion-margin-bottom ion-align-self-center">
                  <ion-label mode="md" position="floating">Rut Alumnos</ion-label>
                  <ion-input class="" placeholder="Sin punto ni guión"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-col size="12" class="ion-margin-bottom">
                <ion-item class="">
                  <ion-label mode="md" position="floating">Nueva Contraseña</ion-label>
                  <ion-input class="ion-padding-start" type="password" placeholder="Ingresa tu nueva contraseña"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-col size="12" class="ion-margin-bottom">
                <ion-item class="">
                  <ion-label mode="md" position="floating">Confirmar Contraseña</ion-label>
                  <ion-input class="ion-padding-start" type="password" placeholder="IRepite tu nueva contraseña"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row><br><br><br>
            <ion-button href="home" expand="full" fill="solid" shape="round" color="primary" size="medium"
              class="login-button ion-text-capitalize ion-no-margin">
              Restablecer
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>